<style type="text/css">

	pre {outline: 3px solid #ccc; padding: 5px; margin: 2px; }
	.string { color: blue; }
	.number { color: blue; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: green; }

	.base-timer {
	  position: relative;
	  width: 35%;
	  margin-top: -5%;
	}

	.base-timer__svg {
	  transform: scaleX(-1);
	}

	.base-timer__circle {
	  fill: none;
	  stroke: none;
	}

	.base-timer__path-elapsed {
	  stroke-width: 7%;
	  stroke: grey;
	}

	.base-timer__path-remaining {
	  stroke-width: 7%;
	  stroke-linecap: round;
	  transform: rotate(90deg);
	  transform-origin: center;
	  transition: 1s linear all;
	  fill-rule: nonzero;
	  stroke: currentColor;
	}

	.base-timer__path-remaining.green {
	  color: rgb(65, 184, 131);
	}

	.base-timer__path-remaining.orange {
	  color: orange;
	}

	.base-timer__path-remaining.red {
	  color: red;
	}

	.base-timer__label {
	  position: absolute;
	  width: 98%;
	  height: 100%;
	  top: 0;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 200%;
	}

	#loader {
	  width: 55px;
	  height: 55px;
	  border: 5px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 5px solid #3498db;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 } 
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
	  from{ bottom:-100px; opacity:0 } 
	  to{ bottom:0; opacity:1 }
	}

</style>

<div class="col-md-3 sidebar">
	<ul class="nav nav-sidebar" style="margin-top: -7%">
        <li class="active">
        	<a><b>Timer</b></a>
        	<button type="button" class="btn btn-info" style="margin-top: 12%; margin-left: 2%; padding-top: 3%; " onclick="startTimer(); document.getElementById('action').innerHTML = 'Scanning Arena...'; document.getElementById('actionID').style.display = 'block'; document.getElementById('responseID').style.display = 'none';">Start</button>
        	<button type="button" class="btn btn-danger" style="float: right; margin-top: 12%; margin-right: 2%; padding-top: 3%" onclick="onTimesUp();">Reset</button>
        </li>
    </ul>
    <div id='timerID' style="height: 22%; margin-top: -32%" align="center"></div>
    <ul class="nav nav-sidebar">
        <li class="active" style="margin-top: -6%"><a><b>Thingsboard Server - Current Request</b></a></li>
    </ul>
    <pre id='requestID' style="background: white; margin-top: -2%"></pre>
    <br>
    <ul class="nav nav-sidebar">
        <li class="active"><a><b>Firebird Robot Response</b></a></li>
    </ul>
    <div align="center">
	    <pre id="actionID" style="background: white; padding: 0; display: none;">
	    	<div id="loader" style="background: white;"></div><br><span id="action"></span>
	    </pre>
	</div>
    <pre id="responseID" style="background: white; display: block;"></pre>
</div>


<script type="text/javascript">

	function output(id, inp) {
    	document.getElementById(id).innerHTML = inp;
	}

	function syntaxHighlight(json) {
	    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
	    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
	        var cls = 'number';
	        if (/^"/.test(match)) {
	            if (/:$/.test(match)) {
	                cls = 'key';
	            } else {
	                cls = 'string';
	            }
	        } else if (/true|false/.test(match)) {
	            cls = 'boolean';
	        } else if (/null/.test(match)) {
	            cls = 'null';
	        }
	        return '<span class="' + cls + '">' + match + '</span>';
	    });
	}


	var request = {  }
	var response = {  }
	request = JSON.stringify(request, undefined, 4);
	response = JSON.stringify(response, undefined, 4);

	// output(str);
	output('requestID', syntaxHighlight(request));
	output('responseID', syntaxHighlight(response));


	// Credit: Mateusz Rybczonec

	const FULL_DASH_ARRAY = 283;
	const WARNING_THRESHOLD = 90;
	const ALERT_THRESHOLD = 30;

	const COLOR_CODES = {
	  info: {
	    color: "green"
	  },
	  warning: {
	    color: "orange",
	    threshold: WARNING_THRESHOLD
	  },
	  alert: {
	    color: "red",
	    threshold: ALERT_THRESHOLD
	  }
	};

	const TIME_LIMIT = 600;
	let timePassed = 0;
	let timeLeft = TIME_LIMIT;
	let timerInterval = null;
	let remainingPathColor = COLOR_CODES.info.color;

	document.getElementById("timerID").innerHTML = `
	<div class="base-timer">
	  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
	    <g class="base-timer__circle">
	      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
	      <path
	        id="base-timer-path-remaining"
	        stroke-dasharray="283"
	        class="base-timer__path-remaining ${remainingPathColor}"
	        d="
	          M 50, 50
	          m -45, 0
	          a 45,45 0 1,0 90,0
	          a 45,45 0 1,0 -90,0
	        "
	      ></path>
	    </g>
	  </svg>
	  <span id="base-timer-label" class="base-timer__label">${formatTime(
	    timeLeft
	  )}</span>
	</div>
	`;

	function pausecomp(millis)
	{
	    var date = new Date();
	    var curDate = null;
	    do { 
	    	curDate = new Date(); 
	    } while(curDate-date < millis);
	}

	function onTimesUp() {
	  clearInterval(timerInterval);
	  timePassed = 0;
	  document.getElementById("base-timer-label").innerHTML = formatTime(TIME_LIMIT);
	  document.getElementById('actionID').style.display = 'none';
	  document.getElementById('responseID').style.display = 'block';
	}

	function startTimer() {
	  timerInterval = setInterval(() => {
	    timePassed = timePassed += 1;
	    timeLeft = TIME_LIMIT - timePassed;
	    document.getElementById("base-timer-label").innerHTML = formatTime(timeLeft);
	    setCircleDasharray();
	    setRemainingPathColor(timeLeft);

	    if (timeLeft === 0) {
	      onTimesUp();
	    }
	  }, 1000);
	}

	function formatTime(time) {
	  const minutes = Math.floor(time / 60);
	  let seconds = time % 60;

	  if (seconds < 10) {
	    seconds = `0${seconds}`;
	  }

	  return `${minutes}:${seconds}`;
	}

	function setRemainingPathColor(timeLeft) {
	  const { alert, warning, info } = COLOR_CODES;
	  if (timeLeft <= alert.threshold) {
	    document
	      .getElementById("base-timer-path-remaining")
	      .classList.remove(warning.color);
	    document
	      .getElementById("base-timer-path-remaining")
	      .classList.add(alert.color);
	  } else if (timeLeft <= warning.threshold) {
	    document
	      .getElementById("base-timer-path-remaining")
	      .classList.remove(info.color);
	    document
	      .getElementById("base-timer-path-remaining")
	      .classList.add(warning.color);
	  }
	}

	function calculateTimeFraction() {
	  const rawTimeFraction = timeLeft / TIME_LIMIT;
	  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
	}

	function setCircleDasharray() {
	  const circleDasharray = `${(
	    calculateTimeFraction() * FULL_DASH_ARRAY
	  ).toFixed(0)} 283`;
	  document
	    .getElementById("base-timer-path-remaining")
	    .setAttribute("stroke-dasharray", circleDasharray);
	}



	var ws_url = 'ws://' + window.location.host + '/ws/ticks/';
    var ticksSocket = new WebSocket(ws_url);

    ticksSocket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    if (ticksSocket.readyState == WebSocket.OPEN) {
      ticksSocket.onopen();
    }

    ticksSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        console.log('data', data);

        if ("request" in data)
        {
	        if (data['request']['method'] == "fetchNearest" || data['request']['method'] == "scan")
	        {
	        	output('action', 'Forwarding Request to Robot...');
	        	document.getElementById('actionID').style.display = "block";
		    	document.getElementById('responseID').style.display = "none";
	        }

	        request = JSON.stringify(data["request"], undefined, 4);
	        console.log('request', request);
	        output('requestID', syntaxHighlight(request));
	    }
	    else if ("response" in data)
	    {
	    	response = JSON.stringify(data["response"], undefined, 4);
	        console.log('response', response);
	    	output('responseID', syntaxHighlight(response));
	    	document.getElementById('actionID').style.display = "none";
		    document.getElementById('responseID').style.display = "block";
	    }
	    else if ("accepted" in data)
	    {
	    	accept = JSON.stringify(data["accept"], undefined, 4);
	        console.log('response', accept);
	    	output('responseID', 'Request Accepted.\nPerforming Request...');
	        document.getElementById('actionID').style.display = "none";
		    document.getElementById('responseID').style.display = "block";

		    pausecomp(2500);

		    if ("fetch" in data['accept'])
			    output('action', 'Fetching Nearest...');
			else if ("scan" in data['accept'])
	    		output('action', 'Scanning Plot...');
	    	else
	    		output('action', 'Scanning Arena...');

	        document.getElementById('actionID').style.display = "block";
		    document.getElementById('responseID').style.display = "none";
	    }
    };

</script>
